body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #dbeafe;
}

body {
  font-size: 30px;
}

header {
    background-color: #90caf9;
    color: ·0d47a1;
    padding: 20px;
    text-align: center;
}

.logo-img {
    width: 300px;
}

section {
    background: white;
    padding: 40px;
    margin: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

button, .btn {
    background: #1b263b;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, .btn:hover {
    background: #415a77;
}

.container {
    max-width: 900px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 15px;
    background: #0d1b2a;
    color: white;
}
